In [23]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
import string
import re
from nltk.corpus import stopwords

In [39]:
df=pd.read_csv("twitterdataS.csv",usecols=['category','text'])
df

         category                                               text
0        Positive  I am coming to the borders and I will kill you...
1        Positive  im getting on borderlands and i will kill you ...
2        Positive  im coming on borderlands and i will murder you...
3        Positive  im getting on borderlands 2 and i will murder ...
4        Positive  im getting into borderlands and i can murder y...
...           ...                                                ...
75675  Irrelevant  ⭐️ Toronto is the arts and culture capital of ...
75676  Irrelevant  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
75677    Positive  Today sucked so it’s time to drink wine n play...
75678    Positive  Bought a fraction of Microsoft today. Small wins.
75679     Neutral  Johnson & Johnson to stop selling talc baby po...

[75680 rows x 2 columns]

In [45]:
df=df.dropna()
df

         category                                               text
0        Positive  I am coming to the borders and I will kill you...
1        Positive  im getting on borderlands and i will kill you ...
2        Positive  im coming on borderlands and i will murder you...
3        Positive  im getting on borderlands 2 and i will murder ...
4        Positive  im getting into borderlands and i can murder y...
...           ...                                                ...
75675  Irrelevant  ⭐️ Toronto is the arts and culture capital of ...
75676  Irrelevant  tHIS IS ACTUALLY A GOOD MOVE TOT BRING MORE VI...
75677    Positive  Today sucked so it’s time to drink wine n play...
75678    Positive  Bought a fraction of Microsoft today. Small wins.
75679     Neutral  Johnson & Johnson to stop selling talc baby po...

[74994 rows x 2 columns]

In [46]:
df.isnull().sum()

category    0
text        0
dtype: int64

In [25]:
def cleaning(text):
    data="".join([re.sub("[^a-zA-Z]"," ",char) for char in text])
    return [d for d in data.split() if d.lower() not in stopwords.words('english') ]

In [27]:
cleaning('''"The quick brown fox jumped over the lazy dog, but it didn't seem to impress anyone; however, it did catch the attention of a group of curious onlookers, who were standing nearby, watching with amazement!"''')

['quick',
 'brown',
 'fox',
 'jumped',
 'lazy',
 'dog',
 'seem',
 'impress',
 'anyone',
 'however',
 'catch',
 'attention',
 'group',
 'curious',
 'onlookers',
 'standing',
 'nearby',
 'watching',
 'amazement']

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
vec=CountVectorizer(analyzer=cleaning).fit(df['text'])
bow_mes=vec.transform(df['text'])

In [49]:
tra=TfidfTransformer().fit(bow_mes)
tfid4=tra.transform(bow_mes)

  (0, 2481)	1
  (0, 2569)	1
  (0, 2676)	1
  (0, 4749)	1
  (0, 6573)	1
  (0, 15902)	1
  (0, 27511)	1
  (0, 27995)	1
  (0, 30399)	1
  (0, 31174)	1
  (1, 2481)	1
  (1, 2676)	1
  (1, 4744)	1
  (1, 12131)	1
  (1, 14291)	1
  (1, 15902)	1
  (1, 19848)	1
  (1, 30399)	1
  (1, 31174)	1
  (2, 2481)	1
  (2, 2676)	1
  (2, 4744)	1
  (2, 6573)	1
  (2, 14291)	1
  (2, 18693)	1
  :	:
  (74991, 29164)	1
  (74991, 30424)	1
  (74992, 4798)	1
  (74992, 11433)	1
  (74992, 18029)	1
  (74992, 19714)	1
  (74992, 25480)	1
  (74992, 28005)	1
  (74992, 30440)	1
  (74993, 1004)	1
  (74993, 2676)	1
  (74993, 3628)	1
  (74993, 5415)	1
  (74993, 6377)	1
  (74993, 9180)	1
  (74993, 13965)	1
  (74993, 14413)	1
  (74993, 15426)	2
  (74993, 18561)	1
  (74993, 21466)	1
  (74993, 23383)	1
  (74993, 24610)	1
  (74993, 26381)	1
  (74993, 27086)	1
  (74993, 27995)	1

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test(df['text'],df['category'],test_size=0.25,shuffle=True)
import Pipeline
piepline=Pipeline([
    ('vect',CountVectorizer(analyzer=cleaning)),
    ('norm',TfidfTransformer()),
    ('clf',KnnClassifier())
])